<section class="font-kadwa" >
  <div class="container " >
       <div class="relative  max-w-[1280px]   overflow-hidden rounded-t-2xl  ">
           <img 
                 src="/imgg.png"
                 alt="Georgia"
                    class="block w-full h-auto  bg-[#1F3D2B]"

               />
               <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4 gap-4">
                     <div class="flex items-center gap-10">
          <span class="text-white font-bold text-5xl tracking-wider">აღმოაჩინე</span>
          <span class="text-white font-bold text-5xl tracking-wider">საქართველო</span>
        </div>
                 <p class="text-[#FFFFFF] text-center max-w-[550px]  ">ადგილობრივი ლოკაციები, ღონისძიებები, გამოცდილებები და ის ადგილები, რომლებიც სხვა პლატფორმებზე თითქმის არ ჩანს.</p>
               </div>
       </div>
    <div class="bg-[#1F3D2B] flex justify-around items-center px-28 overflow-hidden rounded-b-2xl">
       <div class="relative py-5 px-20  ">
  <div class="absolute right-0 top-4 bottom-4 w-px bg-[#D8C7A899]   "></div>
        <div class="flex justify-center flex-col items-center">
            <span class="text-[#FFFFFF]   text-3xl">+ 500</span>
            <span class="text-[#FFFFFF]   text-xl">  ლოკაცია
</span>
        </div>
   
 
</div>
 <div class="relative py-5 px-20  ">
  <div class="absolute right-0 top-4 bottom-4 w-px bg-[#D8C7A899] "></div>
     
   <div class="flex justify-center flex-col items-center">
            <span class="text-[#FFFFFF]   text-3xl">+ 100</span>
            <span class="text-[#FFFFFF]   text-xl">  ღონისძება
</span>
        </div>
</div>
          
         <div class="relative py-5 px-20  ">
  <div class="absolute right-0 top-4 bottom-4 w-px bg-[#D8C7A899]"></div>

   <div class="flex justify-center flex-col items-center">
            <span class="text-[#FFFFFF]   text-3xl">+ 300</span>
            <span class="text-[#FFFFFF]   text-xl text-center">  ადგილობრივის რჩევა
</span>
        </div>
</div>
  </div>
  </div>
</section>