<div class="font-kadwa bg-[#FAF7F0] overflow-x-hidden mt-5">
    <div class="container px-4 md:px-0">
             <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-6 py-6 border-t border-[#0000001A]">
                 <div>
                     <div class="flex items-center gap-4 py-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="48" viewBox="0 0 41 48" fill="none">
                                <rect x="0.5" y="4.5" width="40" height="39" rx="7.5" fill="#274C3B" />
                                <rect x="0.5" y="4.5" width="40" height="39" rx="7.5" stroke="#274C3B" />
                                <path
                                    d="M20.5 35C25.75 30.6 31 26.66 31 21.8C31 16.9399 26.299 13 20.5 13C14.701 13 10 16.9399 10 21.8C10 26.66 15.25 30.6 20.5 35Z"
                                    stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M20.4922 24.0003C22.2872 24.0003 23.7422 22.8065 23.7422 21.3337C23.7422 19.8609 22.2872 18.667 20.4922 18.667C18.6972 18.667 17.2422 19.8609 17.2422 21.3337C17.2422 22.8065 18.6972 24.0003 20.4922 24.0003Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="text-[#000000] text-lg font-bold">Discover Georgia</span>
                         </div>
                         <p class="text-[#00000099] text-sm">{{ langService.t('ციფრული საქართველო - ყველა ადგილი, ერთ სივრცეში', 'Digital Georgia - All places in one space') }}</p>
                 </div>
                 
                 <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 sm:gap-6 text-sm">
                     <button class="text-[#00000099] hover:text-[#000000] transition-colors">{{ langService.t('პლატფორმის შესახებ', 'About Platform') }}</button>
                     <button class="text-[#00000099] hover:text-[#000000] transition-colors">{{ langService.t('კონფიდენციალურობა', 'Privacy Policy') }}</button>
                     <button class="text-[#00000099] hover:text-[#000000] transition-colors">{{ langService.t('კონტაქტი', 'Contact Us') }}</button>
                 </div>
             </div>
    </div>
</div>