 <div class="container font-kadwa">
    <div class="pt-8 md:pt-12">
    <ul class="flex flex-wrap justify-center sm:justify-around items-center gap-3 sm:gap-6 text-[#00000099] text-xs sm:text-sm md:text-base font-bold">
        <li><button class="hover:text-[#1F3D2B] transition-colors py-1" routerLink="">ადგილის ძებნა</button></li>
        <li><button class="hover:text-[#1F3D2B] transition-colors py-1" routerLink="/events">ღონისძიებები</button></li>
        <li><button class="hover:text-[#1F3D2B] transition-colors py-1" routerLink="/experience">გამოცდილებები</button></li>
        <li><button class="hover:text-[#1F3D2B] transition-colors py-1" routerLink="/recomendation">რეკომენდაციები</button></li>
        <li><button class="hover:text-[#1F3D2B] transition-colors py-1" routerLink="/">ტრადიცია</button></li>
    </ul>
</div>
     <div class="flex flex-col md:flex-row pt-12 gap-8">
        <div class="flex-[1] relative">
            <app-filters></app-filters>
        </div>
     
        <div class="flex flex-[3] flex-wrap justify-center md:justify-start gap-6">
             <app-cards></app-cards>
     
     
        </div>
     </div>
 </div>